:root {
    --color-indigo-very-light: #e9c3ff;
    --color-indigo-base: indigo;
    --color-indigo-dark: #430273;
    --color-indigo-darker: #36005d;

    --color-snake-food: gold;
    --color-snake: greenyellow;
}

::backdrop {
    --color-modal-backdrop-primary: rgba(0, 0, 0, 0.6);
}

*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Exo 2', sans-serif;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background: var(--color-indigo-darker);
}

.content-container {
    display: flex;
    flex-direction: column;
}

.board {
    display: grid;
    width: 40rem;
    aspect-ratio: 1;
    grid-template: repeat(30, 1fr) / repeat(30, 1fr);
    background: var(--color-indigo-base);
}

.scores {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    color: var(--color-indigo-very-light);
    margin-bottom: 1rem;
}

.food {
    background: var(--color-snake-food);
}

.snake {
    background: var(--color-snake);
}

.screen-controls {
    display: none;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
}

.screen-controls .up-down {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.material-symbols-outlined {
    cursor: pointer;
    border-radius: 5rem;
    padding: 0.5rem;
    font-size: 2.5rem;
    background: var(--color-indigo-dark);
    color: var(--color-indigo-very-light);
}

.material-symbols-outlined:active {
    transform: translate(2%, 2%);
}

.game-over-dialog {
    width: 30rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 4rem 8rem;
    background: var(--color-indigo-base);
    border: 2px solid var(--color-indigo-base);
}

.game-over-dialog section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.game-over-dialog .title {
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-indigo-very-light);
}

.game-over-dialog::backdrop {
    background: var(--color-modal-backdrop-primary);
}

.restart-game-button {
    cursor: pointer;
    font-size: 1rem;
    padding: 0.5rem;
    color: var(--color-indigo-very-light);
    outline: 2px solid var(--color-indigo-very-light);
    border: none;
    background: var(--color-indigo-base);
}

.restart-game-button:hover {
    background: var(--color-indigo-darker);
}

@media only screen and (max-width: 75rem) {
    body {
        height: auto;
    }

    .screen-controls {
        display: flex;
    }

    .game-over-dialog {
        padding: 2rem 4rem;
    }
}

@media only screen and (max-width: 42rem) {
    body {
        place-items: stretch;
    }

    .content-container {
        flex-direction: column-reverse;
    }

    .board {
        width: 100%;
    }

    .scores {
        font-size: 1.25rem;
        margin: 1rem;
    }
}